"""""""""""""""""" installation
" install plug for vim
" curl -fLo ~/.vim/autoload/plug.vim --create-dirs \                                                                               ~
" https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
" configure sorting in from statements PyCharm
" configure Black for trigger on reformat code

"""""""""""""""""" plugins
" need to install in vim
" call plug#begin()
" Plug 'tpope/vim-surround'
" Plug 'tpope/vim-commentary'
" call plug#end()

set surround
set commentary

sethandler <C-B> a:vim
sethandler <C-C> a:ide
sethandler <C-D> a:ide
sethandler <C-F> a:ide
sethandler <C-H> a:ide
sethandler <C-N> a:ide
sethandler <C-P> a:ide
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-[> a:ide
sethandler <C-]> a:ide

"""""""""""""""""" mappings
inoremap jk <esc>:w<CR>
let mapleader = ","

""" g mappings
map gn gt
map gp gT
map gw :wq<CR>
map gf <Action>(ReformatCode)
map gi <Action>(GotoImplementation)
map gcf <Action>(Forward)
map gcb <Action>(Back)

""" leader mappings
map <leader>f <Action>(GotoFile)
map <leader>g <Action>(FindInPath)
map <leader>r <Action>(Run)
map <leader>R <Action>(Stop)
map <leader>ca <Action>(CollapseAllRegions)
map <leader>c <Action>(CollapseSelection)
map <leader>ea <Action>(ExpandAllRegions)
map <leader>s <Action>(FileStructurePopup)

""" space mappings
map <space>e <Action>(ShowErrorDescription)